body, html{

	height:100%;
	margin:0;
}


.parallax{

	background-image: url('../imagens/back3.jpg');
	/*parallax*/
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

}

@media only screen and (max-device-width: 1366px){
	
	.parallax{
		background-attachment: scroll;
	}
	
}
